<% content_for :body do %>
  <h1>Matthew Sutanto</h1>
  <h5>Software Engineer</h5>

  <hr>

  <p>I am a software engineer based in Indonesia. I'm available for remote
    full-time or part-time jobs in most timezones (including European/American
    time).</p>

  <p>My main specialty is backend development. However, I'm open for other
    software development areas, such as: mobile app or full-stack web
    development.</p>

  <p>Having low-level development interest, I have a keen eye for performance in
    every piece of code I write.</p>

  <p>While developing any product, I'm not just blindly executing instructions
    and write code as I'm told to. I like to think of the product as my own
    while making decisions for it. If something is not right or might cause
    problems later, I will bring that up in meetings and discussions. Because
    in every work that I do, I believe in the product I'm working on.</p>

  <p>My main programming languages (you can count me on these):</p>
  <ul>
    <li>Go</li>
    <li>Python</li>
    <li>PHP</li>
    <li>Java</li>
    <li>Dart (& Flutter!)</li>
  </ul>

  <p>Other skillsets:</p>
  <ul>
    <li>HTML, CSS, and JS for web frontends.</li>
    <li>General SQL database usage (DML, DDL)</li>
    <li>Configuring servers to work (Nginx, Docker, etc)</li>
  </ul>

<% end %>

<%= render template: "layouts/base" %>
