<% content_for :navbar do %>
    <nav class="d-flex justify-content-center">
      <a class="mx-3 p-3" href="<%= home_url %>">Home</a>
      <a class="mx-3 p-3" href="#">Docs</a>
      <a class="mx-3 p-3" href="#">Blog</a>
      <a class="mx-3 p-3" href="#">Projects</a>
      <a class="mx-3 p-3" href="#">GitHub</a>
    </nav>
<% end %>

<%= render template: "layouts/application" %>
